/* Estrutura do Site */

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #cccccc url(../imagens/fundo.png) repeat-x;
}

#container {
    width: 750px;
    margin: 0px auto;
}

#topo {
    height: 150px;
    background: url(../imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
    /* border: 1px solid red; */
}

.logo {
    width: 152px;
    height: 66px;
    background: url(../imagens/logo.png) no-repeat center;
    text-indent: -3000px;
}

/* Barra de navegação*/

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul {
    margin-top: 30px;
    background: #e00109;
    float: left;

}

#topo ul li {
    float: left;
}

#topo ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.3em;
    line-height: 2.1em;
    text-decoration: none;
    color: white;
    background: url(../imagens/divisor.png) no-repeat left center;
}

#topo ul .primeiro a {
    background: none;
}

#topo ul a:hover {
    color: #69001d;
}

body.home #navegacao a#home,
body.noticias #navegacao a#noticias,
body.mercados #navegacao a#mercados,
body.analises #navegacao a#analises,
body.brasil #navegacao a#brasil,
body.economia #navegacao a#economia,
body.educacao #navegacao a#educacao

{
    color: #fff;
    background: #00913d;
    cursor: text;
}

/*Configuração Layout 3 colunas*/

#conteudo {
    margin-top: 60px;
    background: #fff;
}

#primario {
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
    background: blue;
}

#secundario {
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
    background: chartreuse;
}

#lateral {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
    background: crimson;
}

/* Roda pé */

#container-rodape {
    background: #3d3d3d;
    padding: 20px;
}

#rodape {
    width: 750px;
    margin: 0px;
    color: #fff;
}