/* Estrutura do Site */

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #cccccc url(../imagens/fundo.png) repeat-x;
}

#container {
    width: 750px;
    margin: 0px auto;
    border: 1px solid red;
}

#topo {
    height: 150px;
    background: url(../imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
    border: 1px solid red;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(../imagens/logo.png) no-repeat center;
    text-indent: -3000px;
}