/* Estrutura do Site */

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #cccccc url(../imagens/fundo.png) repeat-x;
}

#container {
    width: 750px;
    margin: 0px auto;
}

#topo {
    height: 150px;
    background: url(../imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
    /* border: 1px solid red; */
}

.logo {
    width: 152px;
    height: 66px;
    background: url(../imagens/logo.png) no-repeat center;
    text-indent: -3000px;
}

/* Barra de navegação*/

a:link, a:visited {
    color: #e00109;
    padding: 2px;
}

a:hover {
    color: #e50040;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul {
    margin-top: 30px;
    background: #e00109;
    float: left;

}

#topo ul li {
    float: left;
}

#topo ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.3em;
    line-height: 2.1em;
    text-decoration: none;
    color: white;
    background: url(../imagens/divisor.png) no-repeat left center;
}

#topo ul .primeiro a {
    background: none;
}

#topo ul a:hover {
    color: #69001d;
}

body.home #navegacao a#home,
body.noticias #navegacao a#noticias,
body.mercados #navegacao a#mercados,
body.analises #navegacao a#analises,
body.brasil #navegacao a#brasil,
body.economia #navegacao a#economia,
body.educacao #navegacao a#educacao

{
    color: #fff;
    background: #00913d;
    cursor: text;
}

/*Configuração Layout 3 colunas*/

#conteudo {
    margin-top: 60px;
    background: #fff;
}

#lateral {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}

#primario {
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}

#duas-colunas #primario {
    width: 555px;
}

#uma-coluna #primario {
    width: 720px;
    margin: 0 0 20px 0;
}

#secundario {
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}

/* Caixa */

.caixa {
    margin: 10px 0;
    padding: 5px;
    background: #f3f3f3 url(../imagens/fundo-caixa.png);
}

h2 {
    font-size: 1em;
    background: #3d3d3d;
    color: #fff;
    padding: 5px;
}

.caixa-conteudo {
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}

/* Formetar menus laterais */

#lateral ul a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover {
    background: #f9f9f9 url(../imagens/marcador.png) no-repeat left center;
    padding-left: 20px;
    color: #a1a1a1;
}

/* Formatar formulários */

label {
    display: block;
    cursor: pointer;
}

input {
    padding: 5px;
    width: 125px;
    font-size: 0.9em;
    background-color: #fff;
}

input.submit {
    width: 80px;
    color: #fff;
    background-color: #e00109;
    border: 2px solid #870529;
}

/* Formatando Imagens*/

img.imagem-principal {
    border: 3px solid #dfdfdf;
    width: 98%;
}

/* Formatando Cabeçalhos */

h3 {
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

.destaque h3 {
    background: #e00109;
    color: #fff;
}

.entrevista h3 {
    background: #e00109;
    color: #fff;
}

/* Formatando lista de notícias */

#lista-noticias li {
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 62px;
}

#lista-noticias li a img {
    float: left;
    margin: 5px;
}

#lista-noticias li a {
    text-decoration: none;
    font-size: 0.8em;
}

#lista-noticias li a h3 {
    padding: 0;
    font-size: 0.8em;
    color: #00913d;
}

#lista-noticias li a p {
    font-size: 0.7em;
    color: #000;
}

#lista-noticias li:hover {
    background: #eee;
    cursor: pointer;
}

/* Roda pé */

#container-rodape {
    background: #3d3d3d;
    padding: 20px;
}

#rodape {
    width: 750px;
    margin: 0px;
    color: #fff;
}